@model IEnumerable<Car>

<div class="bg-primary panel-body"><h3>Cars</h3></div>
<table class="table-bordered table-condensed table table-striped">
    <tr>
        <th>Company</th>
        <th>Model</th>
        <th>Color</th>
        <th>Price</th>
        @if ((User?.Identity?.IsAuthenticated ?? false) && User.IsInRole("Admin"))
        {
            <th>Id</th>
        }
        <th class="text-danger">@Html.ValidationSummary(true)</th>
    </tr>
    @foreach (Car car in Model)
    {
        <tr>
            <td>@car.company</td>
            <td>@car.model</td>
            <td>@car.color</td>
            <td>@car.price</td>
            @if ((User?.Identity?.IsAuthenticated ?? false) && User.IsInRole("Admin"))
            {
                <td>@car.Id</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@car.Id" method="post">
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                        <a class="btn btn-sm btn-warning" asp-route-id="@car.Id" asp-action="Edit">Edit</a>
                    </form>
                </td>
            }
            @if ((!User?.Identity?.IsAuthenticated ?? false) || ((User?.Identity?.IsAuthenticated ?? false) && User.IsInRole("User")))
            {
                <td><a class="btn btn-primary" asp-route-id="@car.Id" asp-action="Buy">Buy</a></td>
            }
        </tr>
    }
</table>
@if ((User?.Identity?.IsAuthenticated ?? false) && User.IsInRole("Admin"))
{
    <a class="btn btn-primary" asp-action="Create">Add a car</a>
    <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Users</a>
    <a class="btn btn-primary" asp-action="AllOrders">All Orders</a>
}

